<footer class="footer bg-light py-5">
  <div class="container text-center">
      <!-- <figure class="mb-4">
          <img src="#" alt="Logo" class="img-fluid">
      </figure> -->

      <div class="d-flex justify-content-center align-items-center mb-3">
          <h2 class="mb-0 mr-2">Recipe Forum Page Developed by</h2>
      </div>

      <div>
          <ul class="list-unstyled d-flex justify-content-center flex-wrap">
              <li class="mx-3">
                Andrei Ribeiro Wenceslau                  
                <a href="https://github.com/andrei-ribeiro-wenceslau" class="ml-2">
                      <button class="btn btn-outline-dark btn-sm rounded-circle">
                          <i class="fab fa-github"></i>
                      </button>
                  </a>
              </li>
              <li class="mx-3">
                James Angulo
                  <a href="#" class="ml-2">
                      <button class="btn btn-outline-dark btn-sm rounded-circle">
                          <i class="fab fa-github"></i>
                      </button>
                  </a>
              </li>
              <li class="mx-3">
                James Garwood
                  <a href="https://github.com/J-D-garwood" class="ml-2">
                      <button class="btn btn-outline-dark btn-sm rounded-circle">
                          <i class="fab fa-github"></i>
                      </button>
                  </a>
              </li>
              <li class="mx-3">
                Shimna Puthanayil
                  <a href="https://github.com/shimna-puthanayil" class="ml-2">
                      <button class="btn btn-outline-dark btn-sm rounded-circle">
                          <i class="fab fa-github"></i>
                      </button>
                  </a>
              </li>
              <li class="mx-3">
                Rishav Pandey
                  <a href="https://github.com/rishavpandey02" class="ml-2">
                      <button class="btn btn-outline-dark btn-sm rounded-circle">
                          <i class="fab fa-github"></i>
                      </button>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</footer>
