<div id='div-content'>
  <section class='sec-height'>

    <p class='zoom-area'><b>Hey Buddy</b>
      <br /><br />
      We can't seem to find the page
      <br />
      you are looking for.
    </p>
    <section
      class='error-container mt-0 col-12 col-md-12 text-align-center mx-0'
    >
      <span class='four col-12 col-md-12'><span
          class='screen-reader-text'
        >4</span></span>
      <span class='zero col-12 col-md-12'><span
          class='screen-reader-text'
        >0</span></span>
      <span class='four col-12 col-md-12'><span
          class='screen-reader-text'
        >4</span></span>
    </section>
    <div class='link-container'>
      <a href='/'>
        <button class='btn btn-primary rounded-pill px-4 py-0'>Go Home</button>
      </a>

    </div>

  </section>
</div>