
<di id='div-content' >
<section class='home'>


<section class='error-container mt-5 col-12 col-md-12 mb-0 flex align-self-center'>
<h2 class='mt-5 '<b>Oops something went wrong...</b></h2>
         
        
</section>
<div class='link-container mt-0'>
    <a href='/'>
  <button class='btn btn-primary rounded-pill px-4 py-0'>Go Home</button>
   </a>
    
</div>

</section>
</div>  