<div id='div-content' class='container main-margin'>
  <div class='row justify-content-evenly'>
    <form
      id='form-recipe'
      class='mt-4'
      action='/upload'
      method='POST'
      enctype='multipart/form-data'
    >
      <div class='form-group'>
        <label for='title'>Title</label>
        <input
          class='form-input'
          type='textArea'
          name='title'
          placeholder=''
          required
        />
      </div>

      <div class='form-group'>
        <label for='description'>Description</label>
        <input
          class='form-input'
          type='textArea'
          name='description'
          placeholder=''
          required
        />
      </div>

      <div class='form-group'>
        <label for='ingredients'>Ingredients</label>
        <textarea
          id='textarea-ingredients'
          name='ingredients'
          class='form-input'
          rows='10'
          cols='80'
          required
        ></textarea>

      </div>
      <div class='form-group'>
        <label for='instructions'>Instructions</label>
        <textarea
          id='textarea-instructions'
          name='instructions'
          class='form-input'
          rows='10'
          cols='80'
          required
        ></textarea>
      </div>
      <div class='form-group'>
        <label for='photo'>Photo</label>
        <div class='preview-images col-12 col-md-6 mt-2 rounded'><img
            src='/images/placeholder.jpeg'
            style='width:100%; height:100%'
            class='img-fluid rounded'
            alt='...'
          /></div>
        <input
          type='file'
          name='file'
          id='input-files'
          class='form-control-file border'
          required
        />
      </div>
      <input
        type='submit'
        name='submitInfo'
        value='Submit'
        class='btn btn-primary rounded-pill px-4 py-1'
      />
    </form>
  </div>
</div>
<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script src='/js/addRecipe.js'></script>