{{> nav}}

<div class="background-homepage p-3">
    <div class="card mx-auto" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="Picture of food">
        <div class="card-body">
          <h5 class="card-title">Name of Food</h5>
          <p class="card-text">Short Description</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
    </div>
</div>
    

{{> footer}}